body{
    background-color: black;
}

h1{
    background-color: yellow;
}

.meu{
    background-color: black;
    font-size: 50px;
    color: purple;
    border: 3px solid red;
    display: flex;
    justify-content: center;
    height: 600px;
}

p{
    color: violet;
    font-size: 80px;
}

#primeiro{
    color: red;

}
ul{
    color: red;
}